@bgPrimary: #fff;
@bgSecondary: #f5f7fa;

@primary: #f26c4f;
@secondary: #0984e3;

@bgHover: #0000001a;
@bgSelected: #0984e31a;

@textHover: #000000e6;
@textSelected: #0984e3e6;

@siderWidth: 240px;
@headerPadding: 50px;

.shadowBox {
  box-shadow: 0px 0px 40px 0px hsla(0, 0%, 0%, 0.09);
}

.anno-content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  width: @siderWidth;
  margin-left: calc(@headerPadding * -1);
  margin-right: @headerPadding;
}

.myd-layout {
  height: 100vh;
}

.myd-layout-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.myd-layout-wrapper-center {
  align-items: center;
  justify-content: center;
}

.myd-sider,
.myd-sider-menu {
  background-color: @bgSecondary;
  border-right: none;
  flex: 0 0 @siderWidth !important;
  max-width: @siderWidth !important;
  min-width: @siderWidth !important;
  width: @siderWidth !important;
}

.myd-sider-menu > .ant-menu-item-selected {
  background-color: @bgSelected !important;
  color: @textSelected;
}

.myd-sider-menu > .ant-menu-item-selected:after {
  display: none;
}

.myd-sider-menu > .ant-menu-item-active:not(.ant-menu-item-selected) {
  background: @bgHover;
  color: @textHover;
}

.myd-header {
  display: flex;
  flex-direction: row;
  background-color: @bgPrimary;
  box-shadow: 0px 1px 11px 0px #0000001a;
  z-index: 1;
}
.myd-header-items {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.myd-header-item {
  margin-left: 8px;
  margin-right: 8px;
}

.myd-content {
  display: flex;
  flex-grow: 1;
  min-width: calc(100% - @siderWidth);
  flex-direction: column;
  background-color: #ffffffcc;
  .myd-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px @headerPadding;
  }
}

.myd-content-header {
  min-height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px @headerPadding;
  background: @bgPrimary;
  border-bottom: solid 1px #0000000d;
}

.myd-container {
  align-self: center;
  @media (min-width: 768px) {
    width: 600px;
  }
  @media (min-width: 992px) {
    width: 900px;
  }
  @media (min-width: 1280px) {
    width: 1100px;
  }
  .myd-container-item {
    margin-top: 15px;
    margin-bottom: 15px;
    .myd-container-item-header {
      .flexBox();
      .flexBoxRow();
      margin-bottom: 16px;
      .myd-container-item-header-action {
        margin-left: auto;
      }
    }
  }
}

.login-form {
  min-width: 420px !important;
  padding: 40px 60px !important;
}
.login-form-wrapper {
  min-width: 100%;
}
.login-form-item {
  margin-bottom: 30px;
}

.flexBox {
  display: flex;
}

.flexBoxColumn {
  .flexBox();
  flex-direction: column;
}

.flexBoxRow {
  .flexBox();
  flex-direction: row;
}

.myd-content-center {
  .flexBox();
  .flexBoxColumn();
  justify-content: center;
  align-items: center;
}

.myd-card {
  background: #fff;
  border-radius: 2px;
  padding: 30px;
  .flexBoxColumn();
  .shadowBox();
}
.myd-card-container {
  .flexBoxColumn();
}

.myd-card-title {
  margin-bottom: 16px;
  font-size: 15px;
  color: hsla(0, 0%, 0%, 0.85);
  margin-bottom: 16px;
}
.myd-card-icon {
  height: 112px;
  width: 112px;
  border-radius: 100%;
  margin-bottom: 16px;
  img {
    height: inherit;
    width: inherit;
  }
}

.myd-model-avatar {
  height: 112px;
  width: 112px;
}
